:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;

background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='114' height='114' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='25' height='25' fill-opacity='0.08' fill='%23ffa61d'/%3E%3C/svg%3E");
}

.custom-bg{

background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='114' height='114' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='25' height='25' fill-opacity='0.08' fill='%23ffa61d'/%3E%3C/svg%3E");
}
  